<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>    
</head>
<body>
    <h3>Address Search APIs</h3>
    <div>
        <span><button id="canadaPost">@Html.ActionLink("Canada Post", "Index", "CanadaPost", new { id = "" }, null)</button></span>
        <span><button id="googleApi">@Html.ActionLink("Google API", "Index", "GoogleApi", new { id = "" }, null)</button></span>
    </div>
</body>
</html>
